@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$darkGreen: #929c84;
$lightGreen: #a4af93;
$grey: #4a4b48;

.tetrisContainer {
    display: flex;
    justify-content: space-around;
    background-color: $lightGreen;
    padding: 40px 0;
    position: relative;
    margin: 20px 60px;
    border: 5px solid black;
    border-radius: 8px;
}

.tetrisContainer:before {
    content: " ";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
    //   margin: 0 auto;
    position: absolute;
    top: -8px;
    left: -8px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.cell {
    border: 2px solid $darkGreen;
    width: 30px;
    height: 30px;
    margin: 0;
    box-sizing: border-box;
    padding: 2px;
}

.grid {
    display: grid;
    border: 1px solid black;
    background-color: $lightGreen;
    box-sizing: border-box;
    grid-row-gap: 1px;
}

.playField {
    grid-template-columns: repeat(10, 32px);
    border: 3px solid black;
    box-sizing: border-box;
    margin: 0 auto;
}

.display {
    grid-template-columns: repeat(4, 32px);
    border: 3px solid black;
}

.occupied {
    background-color: $lightGreen;
    border: 2px solid $grey; 
}

.shading {
    background-color: $darkGreen;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.occupied .shading {
    background-color: $grey;
    box-sizing: border-box;

}

.previewPiece {
    margin-left: 30px; 
}

.tetrisGrid {
    display: inline-block;
}

.info-display {
    margin: 10px;
    text-align: left;
}

.messageDisplay .messageText {
    font-size: 300%;
}

.messageDisplay .instructions {
    font-size: 60%;
}


.messageDisplay {
    position: absolute;
    right: 20px;
    top: 55%;
    width: 270px;
}

/* ------------- media queries -----------------*/ 


@media only screen and (max-width: 600px) {


    $size: 15px;

    h2 {
        margin-bottom: 0px;
    }

    .tetrisContainer {
        display: grid;
        grid-template-columns: 55% 45%;
        margin: 20px 10px;
        border: 3px solid black;
        padding: 20px;
    }

    .cell {
        border: 2px solid $darkGreen;
        width: $size;
        height: $size;
        margin: 0;
        box-sizing: border-box;
        padding: 1px;
    }

    .grid {
        display: grid;
        border: 1px solid black;
        background-color: $lightGreen;
        box-sizing: border-box;
        grid-row-gap: 1px;
    }
    
    .playField {
        grid-template-columns: repeat(10, $size + 2px);
        border: 1px solid black;
        box-sizing: border-box;
        margin: 0 auto;
    }
    
    .display {
        grid-template-columns: repeat(4, $size + 2px);
        border: 1px solid black;
    }
    
    .occupied {
        background-color: $lightGreen;
        border: 1px solid $grey; 
    }
    
   
    .previewPiece {
        display: inline-block;
        margin-left: 10px; 
    }


    .tetrisGrid {
        float: right;
    }

    .info-display {
        font-size: 70%;
        margin: 20px 20px;
        // margin-left: 30px;
    }

    .messageDisplay .messageText {
        font-size: 150%;
    }
    
    .messageDisplay .instructions {
        font-size: 60%;
        line-height: 200%;
    }
    
    
    .messageDisplay {
        position: absolute;
        right: -5px;
        top: 60%;
        width: 170px;
    }

    .gameContainer {
        padding: 0 10px;
    }


    
}