

.SpaceTitle, .GameOverScreen {
    color: white;
    position: absolute;
    top: 180px;
    left: 195px;
}

.GameOverScreen p {
    margin: 100px 0;
}

.GameOverScreen h3 {
    margin: 40px 0;
}

/* ------------------------ media queries ------------------------*/

@media only screen and (max-width: 600px) {
    .SpaceTitle {
        color: white;
        position: relative;
        font-size: 0.5em;
    }

    canvas {
        transform: scale(0.55);
        position: relative;
        top: -130px;
        left: -117px;
    }
}