

.SpaceTitle {
    color: white;
    position: relative;
    top: -400px;
}

#space {
    background-image: url('./assets/space.png');
    background-size: cover;
}

/* ------------------------ media queries ------------------------*/

@media only screen and (max-width: 600px) {
    .SpaceTitle {
        color: white;
        position: relative;
        font-size: 0.5em;
    }

    #space {
        transform: scale(0.55);
        position: relative;
        top: -130px;
        left: -117px;
    }
}
