canvas {
    margin: 50px auto;
    display: block;
}

.swiper-container {
    width: 800px;
    margin: 0 auto;
}




/* -------------- media queries-------------*/


@media only screen and (max-width: 600px) {

    .swiper-container {
        width: 390px;
        margin: 0 auto;
    }

    .gameContainer {
        padding: 10px;
    }




}